<style type="text/css">
	.form-header{
		text-align: right;
	}
	.btn-col{
		text-align: center;
	}
	.container{
		min-height: 550px;
		background-color: white;
		margin-top: 15px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Archer Travel Agents</h3>
			<h5>Landing page placeholder</h5>
			<% if flash[:errors] %>
				<h5><%= flash[:errors] %></h5>
			<% end %>
		</div>
	</div>
</div>