<style type="text/css">
	.container{
		background-color: white;
		color: #777;
		margin-top: 15px;
		padding: 15px;
		text-align: justify;
	}
	.header{
		text-align: center;
	}
</style>
<div class="container">
<h4 class="header">Privacy Policy</h4>
<p>This privacy policy (the "Privacy Policy") sets forth a commitment and description of practices related to personal data privacy and security of Archer Travel Service, Inc. (ATS) and its successors, parents, subsidiaries, affiliates and related companies or other companies under a common control that we may have now or in the future operate (the "Company," "we," "our," or "us"). The singular term "Website" includes all websites and all devices or applications that collect personal information from you that we may have now or in the future operate that link to this Privacy Policy, web pages within each such website, device or application, any equivalent, mirror, replacement, substitute, or backup website, device, or application and web pages that are associated with each such website, device, or application. By accessing the Website and providing us with personal information, you agree to be bound by this Privacy Policy. 
<br><br>
In addition to this Privacy Policy, we have established Terms and Conditions that set forth the general rules and policies governing ATS, which can be found at https://ArcherAgents.com/terms. 
<br><br>
The Company is committed to protecting your personal data. We provide this Privacy Policy to explain the type of information we collect on the Website and how that information is used. 
<br><br>
Please note: The laws and regulations in different countries impose different (and even conflicting) requirements on the Internet and data protection. This Privacy Policy applies only to the Company's operations in the USA. All matters relating to the Website are governed by the laws of the State of California. 
<br><br>
I. INFORMATION WE COLLECT 
<br><br>
II. Enrollment Information 
<br><br>
When you register with the Website, you can elect to provide us with contact information, such as your name, physical and electronic address, phone number, and other similar contact details to receive information and updates on the ATS services. Such information is not used for any other purpose. 
<br><br>
Ordering Information 
<br><br>
When an order is placed, the Company requests data from Program Members including: contact information such as name and address; financial information such as credit card number, expiration date, billing address, and billing phone number. If we encounter difficulty when processing an order, this contact information is used to contact the user. This information is harvested from a secure area and encrypted for our customers' protection. It is not sold or shared with anyone else under any circumstances, with the limited exception of your non-financial information which may be shared with third parties for the purpose of facilitating your travel bookings, which are shared only in accordance with section II below. 
<br><br>
IP Addresses 
<br><br>
In addition to information that you provide us voluntarily, the Company may collect aggregate information in the form of IP addresses. An IP address is a number that is automatically assigned to your computer whenever you are surfing the Web. Web servers, the computers that "serve up" web pages, automatically identify your computer by its IP address. When you request a page from the Website, our servers log your IP address and certain other information, such as browser type, internet service provider (ISP), referring/exit pages, operating system, data/time stamp, and clickstream data. We do not link this automatically-collected data to any data that is personally identifiable to you. Although your Website session may be logged, the automatically-collected data will not reveal to us any personally identifiable information about you. 
<br><br>
Cookies and Other Tracking Devices 
<br><br>
Cookies and other user tracking devices (e.g., locally stored objects) may be stored in your computer's hard drive when you visit the NetTrips Website. These tracking devices may also be used to help us speed up your future activities or to improve your experience by remembering the information that you have already provided to us. We do not use these devices to retrieve information from your computer that was not voluntarily provided by you. The use of these devices is an industry standard. Some of our business partners may also use these devices to provide us with anonymous data and information regarding the use of the Website. At your option, you may block or delete tracking devices from your hard drive. However, by disabling such tracking devices, you may not have access to the entire set of features of the Website. For information on how to disable and manage such tracking devices, visit http://www.aboutads.info/consumers/. 
<br><br>
III. HOW WE USE AND SHARE THE INFORMATION COLLECTED 
<br><br>
We may use information collected from you in the following ways: 
<br><br>
We may use information for internal user activity and marketing analysis, for example, to assess trends amongst our consumers or to measure the amount of traffic to the Website. 
<br><br>
We may use your personal information in order to communicate with you about our products and services. 
<br><br>
Information that you post on or through the public areas of the Website (e.g., chat rooms, blogs, bulletin boards, and discussion groups) are generally accessible to, and may be collected and used by, others and may result in unsolicited messages or other contact from others. Users of the ATS Websites are encouraged to exercise caution when providing personal information about themselves in public or interactive areas. In the event of a sale, merger, consolidation, change in control, transfer of substantial assets, reorganization, or liquidation, we may transfer, sell, or assign to third parties information concerning your relationship with us, including, without limitation, personally identifiable information that you provide and other information concerning your relationship with us. 
<br><br>
We may transfer your personal information to third parties under confidentiality obligations for the performance of services provided to us or in connection with the administration and support of the activities noted above (e.g., the administration of a marketing campaign). 
<br><br>
We have put in place reasonable physical, electronic, and managerial procedures to safeguard the information we collect. However, due to the open communication nature of the Internet, we cannot represent, warrant, or guarantee that communications between you and us, or personal information stored on our servers, will be free from unauthorized access by third parties, loss, misuse, or alterations. THE COMPANY DISCLAIMS ANY AND ALL LIABILITY FOR UNAUTHORIZED ACCESS OR USE, OR COMPROMISE OF YOUR PERSONAL INFORMATION SUBMITTED THROUGH THE WEBSITE. USERS ARE HEREBY ADVISED THAT THEY SUBMIT SUCH PERSONAL INFORMATION AT THEIR OWN RISK. 
<br><br>
IV. THIRD-PARTY SITES 
<br><br>
The Website may contain links or references to other websites outside of our control. Please be aware that this Privacy Policy does not apply to these sites. Additionally, the Website may include functionality that allows integration with third-party sites, such as Twitter, Facebook, or other social networks. We may allow you to share information, rich media, and other content, including your information, with such third-party sites, and you may be permitted to export information concerning your use of the Website to such third-party sites. Some of those third-party services may provide us with your information to enhance and personalize your use of the Website. If you submit your credentials (e.g., username and password) for a third-party website or service during your registration for the Website or in connection with updating your user profile, we may receive your information from such third-party website or service. The Company encourages you to read the privacy statements and terms and conditions of linked or referenced sites you enter. These third-party websites may send their own cookies and other tracking devices to you, log your IP address, and otherwise collect data or solicit personal information. THE COMPANY DOES NOT CONTROL AND IS NOT RESPONSIBLE FOR WHAT THIRD PARTIES DO IN CONNECTION WITH THEIR WEBSITES, OR HOW THEY HANDLE YOUR PERSONAL INFORMATION. PLEASE EXERCISE CAUTION AND CONSULT THE PRIVACY POLICIES POSTED ON EACH THIRD-PARTY WEBSITE FOR FURTHER INFORMATION.
<br><br>
V. ACCESS TO, MODIFICATION OF, AND CORRECTION OF YOUR PERSONALLY IDENTIFIABLE INFORMATION You may request that we provide you the information we hold about you, update your information, or ask us to remove your information, or to correct any inaccuracies in such personal data by sending an email to CustomerService@ArcherAgents.com. We will use reasonable efforts to deal with your request within a reasonable time. 
<br><br>
VI. REFERRAL SERVICE / The ATS Agent Program and The Website may include a referral service (Associate Program,) that allows you to tell a friend about the ATS Agent Program or certain content on the Website. 
<br><br>
VII. YOUR CALIFORNIA PRIVACY RIGHTS 
<br><br>
Residents of the State of California have the right to request from certain businesses with whom the California resident has an established business relationship a list of all third parties to which the business, during the immediately preceding calendar year, has disclosed certain personally identifiable information for direct marketing purposes. We are only required to respond to a customer request once during any calendar year. To obtain this information, you should send a request to CustomerService@ArcherAgents.com with the subject heading "California Privacy Rights." In your request, please attest to the fact that you are a California resident and provide a current California address for our response. Please be aware that not all information sharing is covered by the California Privacy Rights requirements and only information on covered sharing will be included in our response. 
<br><br>
VIII. REVISIONS TO OUR PRIVACY POLICY 
<br><br>
We reserve the right to change the Privacy Policy at any time. Please review the contents of the Privacy Policy frequently, as the Company may amend them from time to time to reflect changes in its services and its policies relating to data privacy. Amendments will become effective when posted on the Website. The Company will not provide you with a notice of any change in the Privacy Policy. It is your responsibility to monitor and review any updates to the Privacy Policy. Your continued use of the Website, or online services provided by the Company, after such posting will be deemed your acceptance of these changes to the Privacy Policy. 
<br><br>
IX. CONTACT INFORMATION 
<br><br>
Should you have any questions or concerns about this Privacy Policy or the collection of information, please email us at CustomerService@ArcherAgents.com.
<br><br>
X. EFFECTIVE DATE OF POLICY 
<br><br>
This Privacy Policy is effective December 1, 2015 and will be updated and noted as necessary. 
</p>
</div>