<style type="text/css">
	.container{
		min-height: 550px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
		<h2>Flight Information</h2>
		<ul>
		<li><a href="http://www.fly.faa.gov/flyfaa/usmap.jsp" target="_blank">FAA Flight Delay Info</a></li>
		<li><a href="http://www.xe.com/ucc/" target="_blank">Currency Conversion</a></li>
		<li><a href="http://www.oanda.com/converter/travel" target="_blank">Create a Currency Conversion Cheat Sheet</a></li>
		<li><a href="http://www.timeanddate.com/worldclock/" target="_blank">Time Zones</a></li>
		<li><a href="http://www.metric-conversions.org/conversion-calculators.htm" target="_blank">Metric Conversion Calculator</a></li>
		<li><a href="http://www.wunderground.com/" target="_blank">Weather Forecasts Around the World</a></li>
		<li><a href="http://www.cbp.gov/" target="_blank">U.S. Customs Service Alerts</a></li>
		<li><a href="http://whc.unesco.org/en/list" target="_blank">UNESCO World Heritage Sites List</a></li>
		<li><a href="http://www.all-travel.com/images/uploads/form_minor.pdf" target="_blank">Authorization for Minor to Travel</a></li>
		<li><a href="http://www.luggagefree.com/luggage-free-and-all-travel/" target="_blank">Luggage Free Shipping Service</a></li>
		<li><a href="http://www.cdc.gov/travel/" target="_blank">CDC &ndash; Traveler&rsquo;s Health</a></li>
		<li><a href="http://www.tsa.gov/travelers/airtravel/prohibited/permitted-prohibited-items.shtm" target="_blank">TSA &ndash; Permitted &amp; Prohibited Items</a></li>
		</ul>
		</div>
		<div class="col-sm-6">
		<h2>U.S. State Department</h2>
		<ul>
		<li><a href="http://travel.state.gov/" target="_blank">U.S State Department Travel Advisories</a></li>
		<li><a href="http://travel.state.gov/passport/passport_1738.html" target="_blank">Get or Renew Passport</a></li>
		<li><a href="https://travel.state.gov/content/passports/en/passports/forms.html" target="_blank">Document Requirements</a></li>
		<li><a href="https://travel.state.gov/content/passports/en/country.html" target="_blank">International Travel Information</a></li>
		<li><a href="https://travel.state.gov/content/passports/en/go.html" target="_blank">Tips for Traveling Abroad</a></li>
		<li><a href="http://usembassy.state.gov/" target="_blank">US Embassies and Consulates</a></li>
		</ul>
		</div>
	</div>
</div>