<style type="text/css">
	.container{
		min-height: 550px;
		background-color: white;
		margin-top: 15px;
	}
	.btn-col{
		text-align: center;
	}
	.sub-header{
		display: inline-block;
		margin-left: 10px;
	}
	.header-col{
		text-align: center;
	}
	.header-row{
		color: white;
		background-color: #06b78d;
		height: 60px;
		padding-top: 10px;
	}
	.form-row{
		margin-top: 15px;
	}
</style>
<div class="container">
	<div class="row header-row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6 header-col">
			<h4 class="sub-header">User Guide</h4>
		</div>
		<div class="col-sm-3">
		</div>
	</div>
	<div class="row form-row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6">
		
		</div>
		<div class="col-sm-3">
		</div>
	</div>
</div>