<style type="text/css">
	.container{
		min-height: 600px;
		margin-top: 15px;
		background-color: white;
	}
	.blog-header{
		display: inline-block;
		margin-left: 10px;
	}
	.header-col{
		text-align: center;
	}
	.header-row{
		color: white;
		background-color: #eba10a;
		height: 60px;
		padding-top: 10px;
	}
	.blog-box{
		height: 314px;
		border: 1px solid #cccccc;
		margin: 2%;
		width: 29.3%;
		padding: 0px;
		/*background-color: #f1f1f1;*/
	}
	.img-fluid{
		width: 100%;
		height: auto;
		border-bottom: 1px solid #cccccc;
		min-height: 251.88px;
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
	}
	.img-fluid:hover{
		opacity: 0.7;
	}
	.blog-title{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0px 2%;
	    height: 30px;
	    background: #f1f1f1;
	    margin: 0px;
	    padding-top: 4%;
	    vertical-align: top;
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		text-align: center;
	}
	.content a{
		color: black;
	}
	.content a:hover{
		color: black;
		text-decoration: none;
	}
	.hover-blog{
		background-color: white !important;
	}
	.blog-header a{
		color: white;
	}
	.sub-col{
		text-align: center;
	    padding-right: 30px;
	    padding-bottom: 15px;
	}
	.sub-col a{
		color: #337ab7;
	}
	.sub-col a:hover{
		color: #337ab7;
		text-decoration: none;
	}
	.blog-author{
		/*text-align: left;*/
    	padding-top: 3px;
    	font-weight: normal;
	}

@media (max-width: 1199px) {
  .blog-box img{
  	min-height: 200px;
    height: 200px !important;
  }
  .blog-box{
  	min-height: 262px;
    height: 262px !important;
  }
}

@media (max-width: 991px) {
  .blog-box img{
  	min-height: 160px;
    height: 160px !important;
  }
  .blog-box{
  	min-height: 222px;
    height: 222px !important;
  }
}

@media (max-width: 776px) {
  .blog-box img{
  	min-height: 160px;
    height: 160px !important;
  }
  .blog-box{
  	width: 28%;
  	display: inline-block;
  	min-height: 222px;
    height: 222px !important;
  }
}

@media (max-width: 550px) {
  .blog-box img{
  	/*min-height: 304px;*/
    height: 304px !important;
  }
  .blog-box{
  	width: 100%;
  	display: inline-block;
/*  	min-height: 376px;*/
    height: 376px !important;
  }
  .blog-title{
  	height: 35px;
  	padding: 0px;
  	padding-top: 2%;
  	padding-bottom: 3%;
  }
}

</style>
<div class="container">
	<a href="/blogs" class="blog-a"><div class="row header-row">
		<div class="col-sm-12 header-col">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><h4 class="blog-header">Evo Travel Blog</h4>
		</div>
	</div></a>
	<% if @blogs %>
		<% x = 0 %>
		<% @blogs.each do |val| %>
			<% if x == 0 %>
			<div class="row content">
			<% end %>
			<a href="/blogs/<%= val.id %>"><div class="col-sm-4 blog-box">
				<%= image_tag(val.image.url, :class => 'img-fluid') %>
				<h5 class="blog-title"><%= val.title.titleize %></h5>
				<h5 class="blog-title blog-author">Written by <%= val.author.titleize %></h5>
			</div></a>
			<% if x == 3 %>
				</div>
				<% x = 0 %>
			<% else %>
				<% x += 1 %>
			<% end %>
		<% end %>
	<% end %>
	<div class="row">
		<div class="col-sm-12 sub-col">
			<h5>Would you like to submit a blog?</h5><small> To submit a blog, please email blogs@evolutiontravel.com</small>
		</div>
	</div>
</div>



<script type="text/javascript">
	$(document).on('turbolinks:load',function(){

	$('.blog-box').hover(
	  function() {
	  	console.log('hovering');
	    // var arrowCol = $( this ).closest('.arrow-col');
	    $(this).children('h5').addClass('hover-blog');
	  }, function() {
	    $(this).children('h5').removeClass('hover-blog');
	  }
	);

});
</script>