<style type="text/css">
	.btn-col{
		text-align: right;
	}
	.errors{
		text-align: center;
		color: red;
		margin-top: 15px;
	}
	.container{
		background-color: white;
		min-height: 550px;
		margin-top: 15px;
	}
	.btn-col button{
		width: 100%;
	}
	.header{
		text-align: center;
	}
	.middle-col{
		margin: 0px auto !important;
		border: 1px solid #ccc;
		padding-top: 15px;
	}
	.header-col{
		padding: 0px;
	}
	.cont-row{
		margin-top: 15px;
	}
	form .row{
		padding-right: 15px;
	}
</style>
<div class="container">
	<div class="row">
	    <div class="col-sm-12 header-col">
	      <div class="modal-header">
	        <h3 class="modal-title modalh3" id="loginModalLabel">New Blog Post</h3>
	      </div>
	    </div>
    </div>
	<div class="row cont-row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6 middle-col">
			<!-- <h5>New Blog Post:</h5> -->
			<form action="/blogs" method="post" class="form-horizontal" enctype="multipart/form-data">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="blog[user_id]" type="hidden" value="<%= @user.id %>">
			<div class="row">
				<div class="form-group">
				    <label for="title" class="col-sm-2 control-label">Title</label>
				    <div class="col-sm-10">
				        <input name="blog[title]" type="text" class="form-control" id="title" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="title" class="col-sm-2 control-label">Author</label>
				    <div class="col-sm-10">
				        <input name="blog[author]" type="text" class="form-control" id="title" required/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="content" class="col-sm-2 control-label">Post:</label>
				    <div class="col-sm-10">
				    	<textarea name="blog[content]" class="form-control" id="content" rows="20" required></textarea>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group photo-group">
				    <label for="inputFile" class="col-sm-2 control-label">Image</label>
				    <div class="col-sm-10">
				    	<input name="blog[image]" type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp" required>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="submit" class="col-sm-2 control-label"></label>
				    <div class="col-sm-10 btn-col">
				        <button class="btn btn-contact">Create</button>
				    </div>
				</div>
			</div>
			</form>
		</div>
		<div class="col-sm-6 errors">
			<% if flash[:errors] %>
				<% flash[:errors].each do |val| %>
					<p><%= val %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>