<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first %> <%= @user.last %></h1>
    <% if @from == "forgot" %>
    <p>
      You are recieving this email because you requested a password change.<br>
    </p>
    <p>
    <% else %>Welcome to your new website! <% end %>
      To login, please visit <a href="https://evotravelagent.com/">here</a> and use this temporary password:
    </p>
    <h4>Email: <%= @user.email.downcase %></h4>
    <h4>Password: <%= @random_password %></h4>
    <p>
      Once logged in, don't forget to change your password in the <b>Edit Profile</b> section under the <b>Agent</b> tab.
    </p>
    <p style="margin-bottom: 15px;">Thanks, and have a great day!</p>
  </body>
</html>