<style type="text/css">
	.btn-col{
		text-align: right;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-8">
				<h4 class="header">List a new cruise promotion</h4>
			</div>
			<form action="/cruises" method="post" class="form-horizontal">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="cruise[user_id]" type="hidden" value="<%= @user.id %>">
			<div class="row">
				<div class="form-group">
				    <label for="title" class="col-sm-4 control-label">Title</label>
				    <div class="col-sm-8">
				        <input name="cruise[title]" type="text" class="form-control" id="title" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="departure" class="col-sm-4 control-label">Departure</label>
				    <div class="col-sm-8">
				        <input name="cruise[departure]" type="date" class="form-control" id="departure" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="return" class="col-sm-4 control-label">Return</label>
				    <div class="col-sm-8">
				        <input name="cruise[return]" type="date" class="form-control" id="return" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="vacancy" class="col-sm-4 control-label">Vacancy</label>
				    <div class="col-sm-8">
				        <input name="cruise[vacancy]" type="number" class="form-control" id="vacancy" min="0" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="description" class="col-sm-4 control-label">Description</label>
				    <div class="col-sm-8">
				        <input name="cruise[description]" type="text" class="form-control" id="description" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
				    <label for="submit" class="col-sm-4 control-label"></label>
				    <div class="col-sm-8 btn-col">
				        <button class="btn btn-primary">Create</button>
				    </div>
				</div>
			</div>
			</form>
			<% if flash[:sub] %>
				<div class="row">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-6">
						<h4><%= flash[:sub] %></h4>
					</div>
				</div>
				<% flash[:sub] = nil %>
			<% end %>
		</div>
		<div class="col-sm-6">
		</div>
	</div>
</div>